---
---

@import "minima";
// Add whatever custom stuff you'd like here

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  background: #dfdfdf;
}

.intro-container {
  background-color: #dfdfdf;
  padding: 30px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.reset { margin-bottom:  0;}

.name {
  background-color: red;
  padding: 0 5px;
}

.title-sub {
  background-color: #1a3263;
  padding: 5px;
  text-align: center;
  color: navajowhite;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #1a3263;
}

.blue {
  color: #1a3263;
  font-weight: bold;
}

.wrapper-img {
  display: flex;
  justify-content: center;
  a { text-align: center }
  img { width: 55% }
}

.screenshot-app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.screenshot {
  width: 30%;
}

.screenshot-web {
  width: 50%;
}

.gem-header {
  display: flex;
  align-items: center;
}

.badges { margin-bottom: 15px; margin-left: 15px;}
