---
---

@import "minima";
// Add whatever custom stuff you'd like here

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  background: #dfdfdf;
}

.intro-container {
  background-color: #dfdfdf;
  padding: 30px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.reset { margin-bottom:  0;}

.name {
  background-color: red;
  padding: 0 5px;
}

.title-sub {
  background-color: #1a3263;
  padding: 5px;
  text-align: center;
  color: navajowhite;
}
